@charset "utf-8";
body{
    margin-bottom: 20px;
}
/*head*/
.head{
    height:50px;
    position: relative;
    overflow: hidden;
    background: #0E8EF9;
}
.head_box{
    height:50px;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 999;
}
.head_txt{
    font-size: 17px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    box-sizing:border-box;
    padding-top: 5px;
}
.downBtn {
    content: '';
    width: 8px;
    height: 5px;
    background: url(../images/down.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 24px;
    right: inherit;
    margin-left: 5px;
}
.left_img img {
    margin: 10px 0 0 10px;
    width: 30px;
    height: 30px;
    border:1px solid white;
    border-radius: 50%;
}
.right_img img {
    width: 28px;
    margin: 12px 10px 0 0;
}

/*轮播图*/
.banner{
    /*margin-top:50px;*/
    overflow: hidden;
    height:200px;
}
.swiper-slide{
    overflow: hidden;
    height:195px;
    position: relative;
}
.swiper-slide img{
    display:block;
    height: 100%;
}

/*分类列表*/
.cate-list-wrapper {
    background-color: #fff;
    border-bottom: 1px solid #e5e5e5;
}

.cate-list-wrapper ul {
    padding: 0px;
}

.cate-list-wrapper::-webkit-scrollbar {
    height: 0;
}

/* Track */

.cate-list-wrapper::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */

.cate-list-wrapper::-webkit-scrollbar-thumb {
    background: transparent;
}
.cate-list-wrapper::-webkit-scrollbar-thumb {
    background: rgba(188, 188, 188, 1);
}
.cate-list {
    margin: 0;
    font-size: 0;
}
.cate-list li {
    padding: 0px;
    text-align: center;
    margin: 12px 0;
}

.cate-list.sum-4 li {
    width: 25%;
}
.cate-list.sum-5 li  {
    width: 20%;
}
.cate-list li img {
    height: 44px;
    width: 44px;
}
.cate-list li a {
    text-decoration: none;
    color: #1a1a1a;
    display: block;
    margin-bottom: 2px;
}
.cate-list li .name {
    font-size: 14px;
    line-height: 14px;
    margin-top: 8px;
}

/*社长资源*/
.home-title-wrapper {
    line-height: 50px;
    padding: 8px 10px 8px 10px;
    border-bottom: 2px solid #EEEEEE;
}
.home-title{
    font-size:19px;
    color:#555;
    text-align: left;
    line-height: 30px;
    padding-left: 10px;
    border-left: 3px solid #0E8EF9;
}
.home-title-wrapper img {
    width: 8px;
    height: 16px;
    margin-top: 10px;
}
.shezhang {
    overflow: hidden;
    margin: 12px 0 12px 0;
}
.shezhang_ul {
    overflow: hidden;
}
.shezhang_li {
    width:140px;
    text-align: center;
    margin: 0 5px 0 5px;
    border: 1px solid #cecece;
    border-radius: 8px;
    padding-top: 10px;
}
.shezhang_li:first-child {
    margin-left: 10px;
}
.shezhang_li:last-child {
    margin-right: 10px;
}
.shezhang_li img {
    width:40%;
    border-radius: 50%;
}
.shezhang_li .name {
    font-size: 17px;
    margin-bottom: 15px;
}
.shezhang_li .tag {
    margin: 5px 0 15px 0;
}
.shezhang_li .tag span {
    border: 1px solid #cecece;
    padding: 2px 8px 2px 8px;
    border-radius: 6px;
    font-size: 15px;
}

/*精选资源*/
.resource {
    width: 98%;
    margin: 1%;
}
.resource ul li {
    margin: 2%;
    width: 45.3%;
    border: 1px solid #cecece;
    border-radius: 5px;
}
.resource ul li img {
    width: 44px;
    height: 44px;
    margin: 8px;
    border-radius: 50%;
}
.resource ul li .resource-name {
    margin: 20px 0 20px 0;
}

/*求助信息*/
.help-info {
    padding:10px 0 10px 0;
    border-bottom: 1px solid #cecece;
}
.user-icon {
    margin: 0 10px 0 10px;
}
.help-info .user-icon img{
    width: 44px;
    height: 44px;
    border-radius: 50%;
}
.help-info .title {
    font-size: 16px;
}
.help-info .time {
    margin-top: 5px;
    font-size: 14px;
    color: #777777;
}
.help-info .content {
    margin: 10px;
}
.help-info .content img {
    margin: 10px 3px 0 3px;
    width: calc((100% - 20px) /3 - 3px);
    height: 80px;
}
.help-info .icon {
    width: 16px;
    height: auto;
    margin: 3px 10px 3px 0;
}
.num-info .num {
    margin-right: 25px;
}
.num-info .num div {
    color: #C3C3C3;
}